<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDr5R95BqWTR9qncw79KwW61zAza-jEwoE</string>
	<key>GCM_SENDER_ID</key>
	<string>814029138881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hChat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hchat-44f50</string>
	<key>STORAGE_BUCKET</key>
	<string>hchat-44f50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814029138881:ios:bd663c36a610b95a111d40</string>
</dict>
</plist>